body {
	margin: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 10%;
	margin-top: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	padding-right: 15px;
}

li a {
	color: #666666;
	text-decoration-line: none;
	font-size: 18px;
}
.logo {
	width: 90px;
	margin-right: 19.125%;
}

.contact-logo {
	margin-right: 10px;
	text-decoration: none;
}
.contact-logo img {
	width: 30px;
}

#title {
	display: flex;
	margin: 110px 10%;
	justify-content: space-between;
}

.title-text {
	font-size: 50px;
	font-weight: bolder;
}

.text-em {
	background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.title-img {
	width: 250px;
	height: 250px;
	border-radius: 150px;
	border: 6px solid transparent;
	background-image: linear-gradient(#fff, #fff),
		linear-gradient(180deg, #e70faa 0%, #00c0fd 100%);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

#intro {
	background: linear-gradient(
		96.29deg,
		rgba(189, 210, 255, 0.4) 1.72%,
		rgba(116, 224, 215, 0.4) 158.93%
	);
	padding: 30px 10%;
}

#intro ul {
	margin: 0;
	padding: 0 0 0 20px;
}

#intro h3 {
	margin: 0 0 15px 0;
}

#tech-stack {
	margin-top: 100px;
}
#tech-stack h2 {
	color: #42446e;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 26px;
}

#tech-stack h6 {
	color: #666;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
}
